.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight-green {
    background-color: #dbeed1;
    padding: 0 7px;
}

.display-image {
    width: 100%;
    height: auto;
    max-width: 320px;
}

.about-text {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .about-content {
        align-items: flex-start;
    }

    .about-text {
        text-align: left;
    }
}

@media (min-width: 900px) {
    .about-content {
        flex-direction: row-reverse;
        align-items: center;
    }
    .about-text {
        margin-top: 0;
        margin-right: 50px;
        min-width: 200px;
    }

    .about-subtitle {
        margin-bottom: 40px;
    }

    .display-image {
        min-width: 300px;
        max-width: 600px;
    }
}
