.Home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    text-align: center;
}

.homepage-image {
    width: 160px;
    height: auto;
}

.home-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.15;
    margin-top: 30px;
    margin-bottom: 10px;
}

.home-description {
    margin-top: 15px;
}

#arrow-down {
    position: relative;
    text-align: center;
}

.hover-div {
    cursor: pointer;
}

.pink-highlight {
    background-color: rgba(255, 220, 212, 1);
    padding: 0 7px;
}

.social-icons {
    font-size: 18px;
}

.preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.preview-title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 100px;
}

.view-more-tag {
    margin-top: 20px;
    text-align: end;
    font-weight: 400;
    font-size: 18px;
}

@media (min-width: 768px) {
    .Home {
        padding-top: 40px;
    }

    .header-container {
        text-align: left;
    }

    .photo-position {
        display: flex;
        flex-direction: column;
        /* align-items: flex-end; */
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .homepage-image {
        width: 160px;
        margin-bottom: 15px;
    }

    #arrow-down {
        text-align: left;
        margin-left: 2px;
        margin-top: 3px;
    }
}
