.ExperienceCard {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    color: #4f4f4f;
    transition: all 0.5s ease; /* back to normal */
}

.ExperienceCard:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease; /* zoom in */
}

.image-background-color {
    display: flex;
    justify-content: center;
    min-height: 200px;
}

.ex-image {
    object-fit: contain;
    width: 150px;
    height: auto;
}

.card-body {
    padding: 10px 20px !important;
    background-color: #ffffff;
}

.ex-title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
    line-height: 1;
}

.subtitle {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.tags-desc-container {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 18px;
    font-weight: 300;
}

.card-body-style {
    border-width: 0;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.arrow {
    font-size: 20px;
}

.link-div {
    align-self: flex-end;
}

.link {
    font-size: 25px;
    opacity: 50%;
}

.link:hover {
    opacity: 100%;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.see-more-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    align-items: center;
}

@media (min-width: 375px) {
    .ex-title {
        font-size: 36px;
    }
}

@media (min-width: 435px) {
    .image-background-color {
        min-height: 350px;
    }

    .ex-image {
        width: 200px;
    }
}

@media (min-width: 768px) {
    .ExperienceCard {
        flex-direction: row;
    }

    .card-body {
        margin: 0;
        padding: 40px 40px !important;
    }

    .see-more-container {
        display: none;
    }

    .tags-desc-container {
        flex-direction: column-reverse;
    }

    .tags {
        margin-bottom: 0;
    }

    .description {
        margin-top: 10px;
    }

    .ExperienceCard .collapse:not(.show) {
        display: block;
    }

    .image-background-color {
        min-height: 100px;
        align-items: center;
        width: 1000px;
    }
}
