.ExperienceCard {
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    box-sizing: border-box;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin: 35px 0;
    display: flex;
    flex-direction: column;
}

.ex-image {
    width: 100%;
    height: auto;
}

.card-body {
    margin: 0;
    padding-bottom: 10px !important;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 10px 0 0 0;
}

.subtitle {
    font-size: 24px;
    margin: 0;
}

.description {
    font-size: 18px;
    margin: 5px 0;
}

.card-body-style {
    border-width: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.arrow {
    font-size: 20px;
}

.link-div {
    align-self: flex-end;
}

.link {
    font-size: 25px;
    opacity: 50%;
}

.link:hover {
    opacity: 100%;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.see-more-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    align-items: center;
}

@media (min-width: 768px) {
    .ExperienceCard {
        flex-direction: row-reverse;
    }

    .see-more-container {
        display: none;
    }

    .ExperienceCard .collapse:not(.show) {
        display: block;
    }

    .ex-image {
        width: auto;
    }

    .image-background-color {
        display: flex;
        align-items: center;
    }
}
