.Footer {
    font-size: 18px;
    margin: 50px 0;
}

.Footer h2 {
    margin-bottom: 5px;
    text-transform: lowercase;
}

.Footer a {
    color: black;
}

.end-tag {
    margin-top: 2vh;
    text-align: center;
    font-size: 18px;
}
