.Footer {
    font-size: 18px;
    margin: 50px 0;
}

.Footer h2 {
    margin-bottom: 5px;
    text-transform: lowercase;
}

.Footer a {
    color: black;
}

.end-tag {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

@media (min-width: 375px) {
    .end-tag {
        margin-top: 5vw;
    }
}
