.Footer {
    font-size: 24px;
    margin: 50px 0;
}

.Footer h2 {
    margin-bottom: 5px;
}

.Footer a {
    color: black;
}

.end-tag {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
}
