.navbar {
    padding: 15px 7%;
    margin: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
}

.logo {
    width: 40px;
    height: auto;
}

.navbar-toggler {
    padding: 0;
    border: 0;
}

.nav-item {
    font-size: 24px;
    color: black;
    text-align: end;
}

.underline {
    color: black;
    display: inline-block;
    border-bottom: 3px solid transparent;
}

.pink:hover {
    border-bottom: 3px solid #f7b2ad;
}

.blue:hover {
    border-bottom: 3px solid #a6d2d2;
}

.green:hover {
    border-bottom: 3px solid #b8dda4;
}

.yellow:hover {
    border-bottom: 3px solid #ffd874;
}

.mr-auto,
.mx-auto {
    margin-right: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.content {
    margin: 150px 10% 0 10%;
    width: 80%;
    max-width: 900px;
}

@media (min-width: 768px) {
    .navbar {
        padding: 20px 7% 15px 7%;
    }

    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-item {
        margin: 0 0 0 1.5rem;
        padding: 0;
    }

    .fixed-top {
        right: auto;
        left: auto;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
    }
}
