.navbar {
    padding: 15px 7%;
    margin: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
}

.logo {
    width: 30px;
    height: auto;
}

.logo:hover {
    opacity: 0.5;
}

.navbar-toggler {
    padding: 0;
    border: 0;
}

.nav-item {
    font-size: 16px;
    color: #3d3d3d;
    text-align: end;
    margin-top: 15px;
}

.nav-text:hover {
    opacity: 1;
}

.blue.active.nav-text {
    opacity: 1;
    border-bottom: 3px solid #a6d2d2;
}

.green.active.nav-text {
    opacity: 1;
    border-bottom: 3px solid #b8dda4;
}

.nav-text {
    color: #3d3d3d;
    border-bottom: 3px solid transparent;
    opacity: 0.7;
}

.mr-auto,
.mx-auto {
    margin-right: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-offset {
    margin-top: 125px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-item {
        margin: 0 0 0 2rem;
        padding: 0;
    }

    .fixed-top {
        right: auto;
        left: auto;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
    }
}
