.App {
    color: #3d3d3d;
}

a {
    text-decoration: none;
    color: #3d3d3d;
}

a:hover {
    text-decoration: none;
    color: #3d3d3d;
}

.content {
    margin: 0 10% 0 10%;
    width: 80%;
    max-width: 850px;
}

/* Header title font style */
.header-title {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

/* Hover Effects */

.expandOnHover:hover {
    transform: scale(1.05);
    transition: all 0.4s ease; /* zoom in */
    margin: 50px 0;
}

.pink:hover {
    border-bottom: 4px solid #feaca6;
}

.blue:hover {
    border-bottom: 4px solid #a6d2d2;
}

.green:hover {
    border-bottom: 4px solid #b8dda4;
}

.yellow:hover {
    border-bottom: 4px solid #ffd874;
}

.pinkAccent {
    font-weight: 500;
}

.blueAccent {
    font-weight: 500;
}

.greenAccent {
    font-weight: 500;
}

.yellowAccent {
    font-weight: 500;
}

.pinkAccent:hover {
    color: #f7adae;
}

.blueAccent:hover {
    color: #99cbcb;
}

.greenAccent:hover {
    color: #a2d287;
}

.yellowAccent:hover {
    color: #ffd874;
}

@media (min-width: 380px) {
    .header-title {
        font-size: 32px;
    }
}

@media (min-width: 500px) {
    .expandOnHover:hover {
        margin: 25px 0;
    }
}

@media (min-width: 768px) {
    .header-title {
        text-align: left;
    }
}

/* Animations */
.fade-in-up {
    animation: fadeInUp ease-in 1s;
    -webkit-animation: fadeInUp ease-in 1s;
    -moz-animation: fadeInUp ease-in 1s;
    -o-animation: fadeInUp ease-in 1s;
    -ms-animation: fadeInUp ease-in 1s;
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-ms-keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
